.BlogPost {

  .blog-post-hero-header {
    color: #FFF;
    height: 300px;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (min-width: 750px) {
      height: 650px;
      background-position-x: center;
    }
    
    .hero-text {
      position: absolute;
      bottom: 2%;
      left: 2%;
      color: inherit;
      h1 { font-size: #{$h1-size * .6}rem; }
      h3 { font-size: #{$h3-size * .5}rem; margin-bottom: 0; }
      @media (min-width: 550px) {
        h3 { font-size: #{$h3-size * .7}rem; margin-bottom: 20px; }
      }
      @media (min-width: 750px) and (max-width: 1080px) {
        h1 { font-size: #{$h1-size * .8}rem; }
      }
      @media (min-width: 1080px) {
        h1 { font-size: #{$h1-size}rem; }
        h3 { font-size: #{$h3-size}rem; }
      }

    }
  }
  .tags {
    a { text-decoration: none; }
    .label { font-size: 1.2rem; }

  }

  .publish-date {
    font-size: 1.8rem;
    color: #777;
    padding: .2em 0;
    margin-right: 10px;
  }

  h3 {
    color: #777;
  }

  .blog-content {
    margin-top: 5.0rem;

    h1,h2,h3,h4,h5,h6 {
      margin-top: 5.0rem;
      font-weight: 500;
    }
    h1 { font-size: #{$h1-size * .7}rem; }
    h2 { font-size: #{$h2-size * .7}rem; }
    h3 { font-size: #{$h3-size * .7}rem; }
    pre, code {
      margin: 0;
    }
    p, li {
      font-family: serif;
      text-align: justify;
    }
    p {
      margin: 0;
    }
    .StructuredText {
      margin-bottom: 0;
    }
    .StructuredText + .StructuredText {
      margin-top: 2.0rem;
    }
    img {
      margin-bottom: 2.5rem;
    }
    ol {
      margin-top: 1.5rem;
    }
  }

}
