.DocumentList {

  .document-category {
    .document-category-name {
      margin: 0;
      text-decoration: underline;
    }
  }
  .document-category + .document-category {
    margin-top: 25px;
  }
}
