.DocumentList {

  .document-category {
    @media (max-width: 550px) {
      .TitleSubTitleListing {
        margin-left: 0.75rem;
      }
    }
    .document-category-name {
      margin: 0;
      margin-bottom: 1rem;
      text-decoration: underline;
    }
  }
}
