.DocumentList {

  .column-title {
    font-weight: 600;
  }
  .document-category {
    .document-category-name {
      margin: 0;
      margin-bottom: 1rem;
      font-weight: 100;
    }
  }
  @media (max-width: 550px) {
    .TitleSubTitleListing + .TitleSubTitleListing {
      margin-top: 3rem;
    }
    .document-category {
      margin-top: 4rem;
    }
  }
}
