.TitleSubTitleListing {
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;

  a {
    text-decoration: none;
  }
  img {
    object-fit: cover;
  }
  .titles {
    padding: 0.1rem;
  }
  h1 {
    font-size: 2.8rem;
    margin: 0;
  }
  h3 {
    font-size: 2.2rem;
    margin: 5px 0;
    color: #777;
  }
  @media (max-width: 750px) {
    h1, h3 { letter-spacing: .04rem; }
    h1 { font-size: 2rem; }
    h3 { font-size: 1.8rem; }
  }
}


