.TitleSubTitleListing {

  a {
    text-decoration: none;
  }
  h1 {
    font-size: 2.8rem;
    margin: 0;
  }
  h3 {
    font-size: 2.2rem;
    margin: 5px 0;
    color: #777;
  }
  @media (max-width: 750px) {
    h1, h3 { letter-spacing: .04rem; }
    h1 { font-size: 2rem; }
    h3 { font-size: 1.8rem; }
  }
}

.TitleSubTitleListing + .TitleSubTitleListing {
  margin-top: 10px;
}
