.BlogPostList {

  .blog-list{
    h1 {
      font-size: 1.6em;
    }
    h3 {
      font-size: 1.2em;
      margin-top: 5px;
      color: #777;
    }

    .blog-link + .blog-link {
      margin-top: 25px;
    }
  }
}
