.HomePage {

  section {
    margin-top: 8.0rem;
    margin-bottom: 8.0rem;
    text-align: center;

    h1 {
      font-size: 7.0rem;
      margin-bottom: 5px;
    }

    div {
      margin-bottom: 5px;
    }

    h5 {
      color: #777;
    }

    a {
      text-decoration: none;
      color: #333;
    }
  }

  .RootContent {
    .column-title {
      font-weight: 400;
    }
    p {
      font-size: 1.8rem;
      text-align: justify;
    }
  }
  .Footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}
