
.overflow-scroll-x {
  overflow-x: scroll;
}

@media (min-width: 750px) {
  .float-left {
    float: left;
    margin-right: 2rem;
  }
  
  .float-right {
    float: right;
    margin-left: 2rem;
  }
}

.fade {
  transition: opacity .25s ease-in-out;
}
.fade:hover {
  opacity: 0.75;
}

.dull-then-fade-in {
  opacity: 0.75;
  transition: opacity .25s ease-in-out;
}
.dull-then-fade-in:hover {
  opacity: 1;
}

// skeleton customizations
@media (min-width: 550px) and (max-width: 1050px) {
  .column, .columns {
    margin-left: 1.5%;
  }
  .four.columns {
    width: 48%;
  }
}
