@import "./font-size.scss";
@import "./components/HomePage";
@import "./components/DocumentList";
@import "./components/TitleSubTitleListing";
@import "./components/BlogPost";
@import "./blockquotes.scss";
@import "./margins.scss";
@import "./helpers.scss";

.container {
  max-width: 1200px;
  @media (min-width: 550px) {
    width: 85%;
  }

  p, li {
    font-size: 2.0rem;
  }

  .easein-appear {
    opacity: 0.01;
  }
  .easein-appear.easein-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
}

