@import "./margins.scss";
@import "./font-size.scss";
@import "./helpers.scss";
@import "./components/PrismicHome";
@import "./components/NetlifyFooter";
@import "./components/BlogListing";
@import "./components/BlogPost";

.container {
  max-width: 1200px;
  @media (min-width: 550px) {
    width: 85%;
  }

  p {
    font-size: 2.0rem;
  }

  .easein-appear {
    opacity: 0.01;
  }
  .easein-appear.easein-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
}

